{
  nats
  debug
}

localhost

route /foo {
  nats_publish foo.bar
  respond "All good!"
}

route /hello {
  # nats request hello
  nats_request hello
}

route /bar/bat/baz {
  # nats request bar.bat.baz
  nats_request {nats.subject}
}

route /api/users/*/edit {
  # nats request users.1.edit
  nats_request {nats.subject} {
    prefix "/api"
    timeout 2000
  }
}
